* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: "Segoe UI", Arial, sans-serif;
    color: #333;
    background: #f7f7f7;
    line-height: 1.6;
}



/* ==========================
   HERO
========================== */
.burger {
    display:none;

    background:none;
    border:none;

    color:white;
    font-size:32px;

    cursor:pointer;
}


.hero {
	
    min-height: 700px;

    background-image: url("../images/facade.jpg");
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;

    color: white;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
}



.menu {
    position: absolute;
}



.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.menu {
    position: absolute;

    top: 25px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    max-width: 1200px;

    padding: 20px 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 2;
}



.menu ul {
    list-style:none;
    display:flex;
    gap:30px;
}



.menu a {
    color:white;
    text-decoration:none;
    font-weight:500;
}


.menu a:hover {

    color:#d4af37;

}



.hero-content {
    position: relative;
    z-index: 1;

    max-width: 900px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
}

.hero-content h1 {
    font-size: 2.8rem;
}

.hero-content p{
    font-size:1.35rem;
    line-height:1.6;
}


.subtitle {

    font-size:20px;
    opacity:0.9;

}



.prix {

    font-size:30px;
    color:#f1c40f;

}





.btn {
    display:inline-block;
    padding:10px 25px;
    margin:5px;
    background:#c49b3b;
    color:white;
    text-decoration:none;
    border-radius:30px;
    transition:.3s;
}

.btn:hover {
    background:#a47e25;
    transform:translateY(-3px);
}



/* ==========================
   SECTIONS
========================== */


.section {
    max-width:1200px;
    margin:auto;
    padding:35px 25px;
}



.section h2 {
    text-align:center;
    font-size:35px;
    margin-bottom:35px;
    color:#263238;
}



/* ==========================
   CARDS
========================== */


.cards {
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}



.card {
    background:white;
    padding:30px;
    text-align:center;
    border-radius:15px;
    box-shadow:
    0 8px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover {
    transform:translateY(-8px);
}

.card span {
    font-size:40px;
}



.card h3 {
    margin:15px 0;
}

/* ==========================
   GALERIE
========================== */


.gallery {
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}



.gallery img {
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    cursor:pointer;
    transition:.3s;
}



.gallery img:hover {
    transform:scale(1.04);
}




/* ==========================
   TABLEAU
========================== */


table {
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:10px;
    overflow:hidden;
}



td {
    padding:18px;
    border-bottom:1px solid #ddd;
}



td:first-child {
    font-weight:bold;
    background:#f1f1f1;
}


/* ==========================
   MAP
========================== */


.localisation iframe {
    width:100%;
    height:400px;
    border:0;
    border-radius:15px;
}

/* ==========================
   CONTACT
========================== */


.contact {
    background:#d8d1c5;
    color:#3d3d3d;
    text-align:center;
    padding:70px 20px;
}

.contact h2 {
    color:white;
}

footer {
    background: #d8d1c5;
    color: #3d3d3d;
    padding: 30px 20px;
    text-align: center;
}

/* ==========================
   LIGHTBOX PHOTO
========================== */


#lightbox {
    display:none;
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:
    rgba(0,0,0,.9);
    justify-content:center;
    align-items:center;
}



#lightbox img {
    max-width:90%;
    max-height:85%;
    border-radius:10px;
}



#fermer {
    position:absolute;
    top:25px;
    right:40px;
    color:white;
    font-size:50px;
    cursor:pointer;
}

/* ==========================
   MOBILE
========================== */
@media(max-width:768px){

    .burger {
        display:block;
    }


    .menu {
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
    }


    .nav-links {

        display:none;

        position:absolute;

        top:70px;
        left:0;

        width:100%;

        background:rgba(0,0,0,.75);

        flex-direction:column;

        text-align:center;

        padding:20px;

        border-radius:15px;

    }


    .nav-links li {
        margin:10px 0;
    }


    .nav-links.active {
        display:flex;
    }

}
/* ==========================
   FLECHES GALERIE
========================== */


#precedente,
#suivante {

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    color:white;

    font-size:50px;

    cursor:pointer;

    padding:15px;

    user-select:none;

    transition:.3s;

}


#precedente:hover,
#suivante:hover {

    color:#d4af37;

}



#precedente {

    left:30px;

}



#suivante {

    right:30px;

}



@media(max-width:768px){

    #precedente,
    #suivante {

        font-size:35px;

    }


    #precedente {

        left:10px;

    }


    #suivante {

        right:10px;

    }

}